@font-face {
  font-family: 'Formula1 Display Regular';
  src: url('./Formula1-Regular_web_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formula1 Display Bold';
  src: url('./Formula1-Bold_web_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
